<div class="rooster-root"></div>

<%= render "/header" %>

<div class="span12 flash-container"></div>


<div id="v3_search" class="container clearfix list_view" style="">


  <%= form_tag({controller: "servico", action: "find"}, method: "get", id: "search_form") do %>

    <div id="search_params" class="panel-padding panel-background-gray panel-border">

          <%= text_field_tag :nome_servico, params[:nome_servico], class: 'active', id: 'servicos', placeholder: 'Qual serviço você deseja?', style: 'width: 422px' %>

          <%= select_tag :estado_id, options_from_collection_for_select(@estados, 'id', 'nome', params[:estado_id]),
                         :prompt => 'Estado',
                         :id => 'estados' %>

          <%= select_tag :cidade_id, nil,
                         :prompt => 'Cidade',
                         :id => 'cidades' %>

          <div class="btn-icon-container pull-left">
            <%= submit_tag "Buscar", class: "btn green" %>
          </div>

    </div>

    Ordenar por: <%= select_tag :ordenar_por, options_for_select([['Avaliação','avaliacao'],['Preço','preco']], params[:ordenar_por]), :id => 'ordenacao' %>

  <% end %>


  <div class="search-container row">
    <div id="search_body" class="col" style="">


      <ul id="results" class="unstyled">

        <% @empresa_servicos.each do |empresa_servicos| %>

            <li id="room_921262" class="search_result" data-hosting-id="921262" data-host-id="4952896">

              <div class="pop_image_small">
                <a href="#" class="image_link matte-media-box">

                  <%= image_tag empresa_servicos.empresa.image.url, :width => 114, :height => 74, :class => 'search_thumbnail listing-default', :style => 'display: inline;' %>

                </a>
              </div>

              <h3 class="room_title overflow-ellipsis">
                <%= link_to empresa_servicos.empresa.nome, {:controller => 'empresa', :action => 'detail', :id => empresa_servicos.id}, :class => 'name' %>
              </h3>

              <div class="price">
                <div class="price_data">
                  <sup>R$</sup><%= empresa_servicos.preco %><sup class=""></sup>
                </div>
                <div class="price_modifier">
                  &nbsp;
                  Por dia
                </div>
              </div>
              <div class="descriptor descriptor-gray overflow-ellipsis">
                <address>
                  <%= empresa_servicos.empresa.endereco %>
                </address>

              </div>

              <ul class="reputation unstyled">

                <li class="badge badge_type_reviews-bubble">
        <span class="badge_image">
          <span class="badge_text reviews-bubble label-green">
            <%= empresa_servicos.avaliacaos.length %>
          </span>
        </span>
                  <span class="badge_name">avaliações</span>
                </li>

              </ul>

            </li>

        <% end %>


        <div id="results_footer" class="panel-padding" style="overflow: hidden;">
            <%= will_paginate @empresa_servicos %>
        </div>

      </ul>

    </div>


  </div>
</div>


<script>

    /*       CARREGANDO A COMBO DE CIDADES AO ENTRAR NA TELA     */
    $(document).ready(function() {
        carregarCidades();
    });

    /*       AUTOCOMPLETE DO CAMPO 'QUAL SERVICO VOCE DESEJA?'     */
    $(function() {

        var $servicos = $('#servicos');

        $servicos.autocomplete({
            serviceUrl:'/servico/list',
            maxHeight:400,
            width: $servicos.width(),
            dataType: 'json',
            zIndex: 9999
        });
    });

    function carregarCidades() {
        $.ajax({
            url: '/cidade/list_by_estado',
            type: 'POST',
            data: 'estado_id=' + $('#estados').val(),
            dataType: 'json',
            success: function (json) {
                $('#cidades').empty();

                $.each(json, function () {
                    if (this['id'] == '<%= params[:cidade_id] %>') {
                        $('#cidades').append($('<option selected>').text(this['nome'])
                                                                   .attr('value', this['id']));
                    } else {
                        $('#cidades').append($('<option>').text(this['nome'])
                                                          .attr('value', this['id']));
                    }


                });
            }
        });
    }

    /*       CARREGANDO A COMBO DE CIDADES AO MUDAR ESTADO     */
    $('#estados').change(function(){
        carregarCidades();
    });

    $('#ordenacao').change(function(){
        $('#search_form').submit();
    });

</script>