<div class="alert alert-success" id="modalSucesso" style="display: none">
  Sua avaliação foi enviada com sucesso
</div>

<div class="rooster-root"></div>

<%= render "/header" %>



<div class="span12 flash-container">
</div>


<div id="og_pro_photo_prompt" class="container"></div>

<div id="rooms" class="container">
  <div id="room" class="panel-border clearfix">
    <div id="back_to_search_container" class="panel-header-gray clearfix">
      <ul class="share-box unstyled">
        <li class="share-item">
          <fb:like width="450" layout="button_count" show_faces="false" send="false"></fb:like>
        </li>
      </ul>
    </div>

    <div id="left_column">

      <div id="main_content" class="space2">
        <div class="middle panel-border clearfix">
          <ul class="nav nav-tabs panel-background-gray">
            <li class="photos active">
              <a href="#"><%= @empresa_servico.servico.nome %></a>
            </li>
          </ul>
          <div class="tab-content panel-padding clearfix">

            <div style="width: 220px; height: 160px; float: left; margin-right: 10px">
              <img src="<%= @empresa_servico.empresa.image.url %>" width="220px" height="160px"/>
            </div>
            <div style="float: left; width: 400px;">
              <h3><%= @empresa_servico.empresa.nome %></h3>
              <p>A Dr. Resolve foi fundada por seu Diretor Presidente, Sr David Pinto, empresário notório no ramo de venda de serviços ao varejo e, especialmente, em franquias, com ampla experiência neste setor.
                Em um ano transformou a empresa na maior rede de franquias de reparos e reformas do Brasil e também na que mais cresceu comparada a todas as outras marcas.
              </p>
              <h4>
                                    <span id="display_address">
                                          <%= @empresa_servico.empresa.endereco %>
                                    </span>
              </h4>

            </div>





          </div>
        </div>
      </div>

      <% if cookies[:user_id] %>
          <div id="details" class="space2">
            <div class="middle panel-border clearfix">
              <ul class="nav nav-tabs panel-background-gray">
                <li class="active">
                  <a id="description_link" href="#">
                    Envie uma Avaliação
                  </a>
                </li>
              </ul>

              <div class="tab-content panel-padding clearfix">
                <div class="left">
                  <div class="profile_pic">
                    <div class="matte-media-box">
                      <img class="lazy" height="68" src="<%= current_user.photo_url %>" width="68" style="display: inline;">
                    </div>
                    <br/>
                            <span class="name">
                                  <a href="#" rel="nofollow"><%= current_user.name %></a>
                            </span>
                  </div>
                </div>
                <div class="right">
                  <div style="width: 525px">
                    <div class="rateit bigstars"
                         data-rateit-starwidth="32"
                         data-rateit-starheight="32"
                         data-rateit-step="1"
                         data-rateit-resetable="false"
                         style="margin-bottom: 15px"></div><br/>

                    <input type="text" id="titulo" placeholder="Escreva um título" style="width: 330px"/><br/>
                    <textarea id="comentario" placeholder="Escreva um comentário" style="width: 430px; height: 100px"></textarea><br/>
                    <input type="button" class="btn" id="enviarComentario" value="Enviar Avaliação"></button>
                  </div>
                </div>

              </div>
            </div>
          </div>
      <% end %>


      <div id="reputation" class="space2">
        <a name="reputation-mark"></a>
        <div id="reputation_middle" class="clearfix middle panel-border">
          <ul id="reputation_sub_nav" class="nav nav-tabs panel-background-gray">
            <li class="active" id="this_hosting_reviews_link">
              <a href="#">Avaliações (<span><%= @empresa_servico.avaliacaos.length %></span>)</a>
            </li>

          </ul>

          <div class="tab-content panel-padding clearfix">

            <div id="this_hosting_reviews" class="tab-pane rep_content active">

              <div class="clear"></div>
              <ul class="unstyled reviews-list clearfix">

                <% @empresa_servico.avaliacaos.each do |avaliacao| %>

                    <li class="reviews-list-item space1 clearfix">
                      <div class="overflow">
                        <div class="left">
                          <a name="review_6818823"></a>
                          <div class="profile_pic">
                            <div class="matte-media-box">
                              <img class="lazy" height="68" src="<%= avaliacao.user.photo_url %>" width="68" style="display: inline;">
                            </div>
                        <span class="name">
                          <a href="#" rel="nofollow"><%= avaliacao.user.name %></a>
                        </span>
                          </div>
                        </div>
                        <div class="right">
                          <div class="speech-bubble">

                            <h4>"<%= avaliacao.titulo %>"</h4>
                            <p class="message">
                              <%= avaliacao.comentario %>
                            </p>
                            <div class="rateit" data-rateit-value="<%= avaliacao.rate %>"
                                 data-rateit-step="1"
                                 data-rateit-resetable="false"
                                 data-rateit-ispreset="true"
                                 data-rateit-readonly="true"
                                 style="float: right"></div>
                            <span class="date"><%= I18n.localize(avaliacao.created_at, :format => '%B %Y') %></span>
                          </div>
                        </div>
                      </div>
                    </li>

                <% end %>
              </ul>

            </div>

          </div>
        </div>
      </div>

    </div>

    <div id="right_column">

      <form accept-charset="UTF-8" action="https://www.airbnb.com.br/payments/book?hosting_id=811039" class="info instant-book" id="book_it_form" method="post">

        <div id="book_it" class="panel-border space2">

          <div class="panel-header-light">

            <div id="pricing" class="book_it_section">

              <h2 id="price_amount" style="text-align: center">R$ <%= @empresa_servico.preco %></h2>

            </div>

            <button type="submit" class="btn large green btn-block" id="book_it_button">
                            <span class="instant-book">
                                Contratar
                            </span>
            </button>

          </div>

        </div>

      </form>

    </div>

  </div>
</div>
</div>

</div>


<script type ="text/javascript">
    $('#enviarComentario').click(function (e) {

        var rate = $('.rateit').rateit('value');
        var titulo = $('#titulo').val();
        var comentario = $('#comentario').val();

        $.ajax({
            url: '/empresa/rate', //your server side script
            data: { rate: rate, titulo: titulo, comentario: comentario, empresa_servico_id: <%= @empresa_servico.id %> },
            type: 'POST',
            success: function (data) {
                event.preventDefault();
                $("#modalSucesso").show("slow");
                $("html, body").animate({ scrollTop: 0 }, "slow");

                setInterval('location.reload()', 3000);

            },
            error: function (jxhr, msg, err) {
                alert("Xiii..Algo deu errado");
            }
        });
    });

</script>